<template>
  <div id="app">
    <vs-prompt @cancel="cerrarModal" @accept="guardarDatos" @close="cerrarModal" :active.sync="dialogForm">
      <div class="con-exemple-prompt">
        <vs-input label-placeholder="Nombre completo" v-model="persona.nombreCompleto" />
        <vs-input label-placeholder="Edad" v-model="persona.edad" />
        <vs-select class="selectExample" label="Departamento" v-model="persona.departamento">
          <vs-select-item v-for="(item, index) in departamentos" :key="index" :value="item.value" :text="item.text" />
        </vs-select>
      </div>
    </vs-prompt>
    <vs-button color="primary" type="filled" @click="abrirModal">AGREGAR</vs-button>
    <!-- <section>
      <p>Nombre: {{ persona.nombreCompleto }}</p>
      <p>Edad: {{ persona.edad }}</p>
      <p>Departamento: {{ persona.departamento }}</p>
    </section>
    <vs-button color="danger" type="filled" @click="borrarUsuario">Borrar</vs-button> -->
    <!-- INICIO TABLA -->
       <vs-card>
      <div slot="header">
        <h3>Usuarios</h3>
      </div>
      <div>
        <vs-table :data="users">
          <template slot="header">
            <h3>Usuarios</h3>
          </template>
          <template slot="thead">
            <vs-th>Nombre completo</vs-th>
            <vs-th>Edad</vs-th>
            <vs-th>Departamento</vs-th>
            <vs-th>Acciones</vs-th>
          </template>
          <template slot-scope="{data}">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="data[indextr].nombreCompleto">
                {{ data[indextr].nombreCompleto }}
              </vs-td>
              <vs-td :data="data[indextr].edad">
                {{ data[indextr].edad }}
              </vs-td>
              <vs-td :data="data[indextr].departamento">
                {{ data[indextr].departamento }}
              </vs-td>
              <vs-td>
                <vs-button radius color="warning" type="filled" icon="edit" @click="editarUsuario(indextr)"></vs-button>
                <vs-button radius color="danger" type="filled" icon="delete" @click="borrarUsuario(indextr)"></vs-button>
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </vs-card>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      users:[],
      persona: {
        nombreCompleto: '',
        edad: '',
        departamento: '' 
      },
      indexUsuario: null,
      value1: '',
      dialogForm: false,
      select1:2,
      departamentos:[
        { text:'La Paz', value: 'La Paz'},
        { text:'Oruro', value: 'Oruro'},
        { text:'Cochabamba', value: 'Cochabamba'},
        { text:'Chuquisaca', value: 'Chuquisaca'},
        { text:'Tarija', value: 'Tarija'},
        { text:'Pando', value: 'Pando'},
        { text:'Beni', value: 'Beni'},
        { text:'Santa Cruz', value: 'Santa Cruz'},
        { text:'Potosi', value: 'Potosi'}
      ],
    }
  },
  async mounted () {
    this.users = this.$storage.get('usuarios')
    // this.users = this.$service.get('');
  },
  methods: {
    editarUsuario (index) {
      this.indexUsuario = index
      this.persona = { ...this.users[index] }
      this.dialogForm = true
    },
    borrarUsuario (index) {
      this.users.splice(index, 1)
      this.$storage.set('usuarios', this.users)
    },
    abrirModal () {
      this.dialogForm = true
      console.log('Abrir modal');
    },
    cerrarModal () {
      this.dialogForm = false
    },
    restForm () {
      this.persona = {
        nombreCompleto: '',
        edad: '',
        departamento: '' 
      }
    },
    guardarDatos () {
      if (this.indexUsuario) {
        this.users[this.indexUsuario] = { ...this.persona }
        const usuariosParcial = [...this.users]
        this.users = null
        this.users = usuariosParcial
        this.indexUsuario = null
      } else {
        this.users.push(this.persona)
      }
      this.$storage.set('usuarios', this.users)
      this.restForm()
      this.dialogForm = false
    }
  }
}
</script>
